//Settings regroupe tous les réglages généraux

@font-face {
    font-family: "font1";
    src: url("../fonts/SourceSansPro-Regular.ttf");
}

$color1 : pink;
$color2 : rgb(255, 242, 218);
$color3 : black;
$font1 : "font1", sans-serif;

// MIXINS

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: $color2 ;
    font-family: $font1;
}